# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz   

# Environment
venv/
.env

# Streamlit
.streamlit/secrets.toml
config.toml

# Data
data/tmp/*
data/vector_store/*

# Langchain
.langchain/

# Local Vector
local_vector/

# Pinecone Vector
pinecone_vector/

# Logs
output.log

